* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}
.window {
    background-color: chartreuse;
    min-height: 50px
}
.window a {
    font-size: 22px;
    margin-left: 15px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
}
.img_div img {
  position: absolute;
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.text_img {
    position: relative;
    z-index: 2;
    color: white;
    margin-left: 10px;
}