.slick-slide {
    margin-left: 0px; /* Пример отступа между слайдами */
    
  }
    
    .slick-prev:before, .slick-next:before {
      color: black; /* Цвет стрелок навигации */
    }
    
    .slick-prev {
      left: -25px; /* Положение предыдущей стрелки */
    }
    
    .slick-next {
      right: -25px; /* Положение следующей стрелки */
    }
    
    .slick-dots li button:before {
      color: gray; /* Цвет точек */
    }
    
    .slick-dots li.slick-active button:before {
      color: black; /* Цвет активной точки */
    }
    .about {
      font-size: 21px;
    
    }